<h3 class="title">Practises</h3>
<mat-progress-spinner class="spinner" *ngIf="(loading$ | async)" mode="indeterminate"></mat-progress-spinner>
<mat-accordion *ngIf="(practises$ | async) && (loading$ | async) === false">
  <mat-expansion-panel *ngFor="let practise of practises$ | async">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ practise.title }}
        </mat-panel-title>
        <mat-panel-description>
            {{ practise.date }}      
        </mat-panel-description>
    </mat-expansion-panel-header>
    {{ practise.description }}
    <br />
    <button mat-button (click)="openDialog(practise)">Edit practise</button>      
    <button mat-button color="warn" (click)="deletePractise(practise.id)">Remove practise</button>
  </mat-expansion-panel>
</mat-accordion>